<div class="container">
  @if(isNewUser){
  <app-registration (registrationCompletedEvent)="receiveRegistrationCompletedEvent($event)"></app-registration>
  }
  @else{
  <div>
    <mat-form-field>
      <mat-label>Enter your username</mat-label>
      <input matInput [(ngModel)]="userName">
    </mat-form-field>
  </div>

  <div>
    <button mat-flat-button (click)="login()">Log in</button>
    <button mat-flat-button (click)="initializeNewUserState()">Enroll New User</button>
  </div>
  }
</div>
