<div class="container">
  <div>
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input matInput
             [formControl]="email"
             required />
      @if (email.invalid) {
      <mat-error>{{emailError()}}</mat-error>
      }
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput
             [formControl]="password"
             required />
      @if (password.invalid) {
      <mat-error>{{passwordError()}}</mat-error>
      }
    </mat-form-field>
  </div>

  @if(isNewUser){
    <app-registration (registrationCompletedEvent)="receiveRegistrationCompletedEvent($event)"
                      [email]="email.value"
                      [password]="password.value"></app-registration>
  }
  @else{
    <div>
      <button mat-flat-button [disabled]="email.invalid || password.invalid"
              (click)="login()">
        Log in
      </button>
      <button mat-flat-button (click)="initializeNewUserState()">Enroll New User</button>
    </div>
    <div class="error">{{ httpError }}</div>
  }
</div>
