h1 {
  font-family: Helvetica;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  align-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.left {
  float: left;
  width: 100px;
}

.right {
  float: right;
  width: 100px;
}
