<div class="container">

  <div class="top-field">
    <mat-form-field class="wide-input">
      <mat-label>Search for your favorite titles</mat-label>
      <input matInput (keyup)="updateSearch($event)" #input>
    </mat-form-field>
  </div>

  <div class="top-field">
    <mat-form-field class="wide-input">
      <mat-label>Filter results by title, author, or description</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
  </div>

  @if(showLibrarianButton()){
    <button mat-flat-button (click)="addBook()">Add Book</button>
  }


  <div class="table-container">

    <table mat-table [dataSource]="bookData" multiTemplateDataRows class="table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!--Cover Image Column-->
      <ng-container matColumnDef="cover">
        <th mat-header-cell *matHeaderCellDef>Cover Image</th>
        <td mat-cell *matCellDef="let row"><img class="book-cover" src={{row.coverImage}}></td>
      </ng-container>

      <!--Title Column-->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let row">{{row.title | titlecase }}</td>
      </ng-container>

      <!--Author Column-->
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
        <td mat-cell *matCellDef="let row">{{row.author}}</td>
      </ng-container>

      <!--Description Column-->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let row">{{row.description}}</td>
      </ng-container>

      <!--Rating Column-->
      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef>Rating</th>
        <td mat-cell *matCellDef="let row">{{row.userRating}}</td>
      </ng-container>

      <!--Availability Column-->
      <ng-container matColumnDef="availability">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Availability</th>
        <td mat-cell *matCellDef="let row">{{displayAvailability(row)}}</td>
      </ng-container>

      <!--Check Out Column-->
      <ng-container matColumnDef="checkOut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row">
          <button mat-flat-button [disabled]="checkOutDisabled(row)" (click)="checkBook(row)">
            {{getBookCheckButtonLabel(row)}}
          </button>
        </td>
      </ng-container>

      <!--Check Out Column-->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row">
          @if(showLibrarianButton()){
          <button mat-flat-button (click)="setEditBook(row)">
            Edit
          </button>
          }
        </td>
      </ng-container>


      <!--Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let book" [attr.colspan]="displayedColumns.length">
          <div class="book-detail"
               [@detailExpand]="book == expandedElement ? 'expanded' : 'collapsed'">
            <div class="book-description">
              Publisher: {{book.publisher}} <br />
              Publication Date: {{book.publicationDate | date}} <br />
              Category: {{book.category}} <br />
              ISBN: {{book.isbn}} <br />
              Page Count: {{book.pageCount}} <br />
            </div>
          </div>
        </td>
      </ng-container>


      <tr mat-row *matRowDef="let book; columns: displayedColumns;"
          class="book-row"
          [class.expanded-row]="expandedElement === book"
          (click)="expandedElement = expandedElement === book ? null : book">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>


      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No matching data</td>
      </tr>

    </table>

  </div>
