

<div>
  <mat-form-field>
    <mat-label>Select a role:</mat-label>
    <mat-select [formControl]="role" required>
      <mat-option value="Customer">Customer</mat-option>
      <mat-option value="Librarian">Librarian</mat-option>
    </mat-select>
    @if (role.hasError('required')) {
      <mat-error>Role is required</mat-error>
    }
  </mat-form-field>
</div>

<div>
<button mat-flat-button color="primary" (click)="onSubmit()"
        [disabled]="!email.valid || !password.valid || !role.valid">
  Sign up!
</button>
</div>

<div class="error">
{{ httpError }}
</div>

