
<div>
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input matInput type="email" [(ngModel)]="email" >
  </mat-form-field>
</div>

<div>
  <mat-form-field>
    <mat-label>Choose a password</mat-label>
    <input matInput type="password" [(ngModel)]="password">
  </mat-form-field>
</div>

<div>
  <mat-form-field>
    <mat-label>Select a role:</mat-label>
    <mat-select [(ngModel)]="role">
      <mat-option value="Customer">Customer</mat-option>
      <mat-option value="Librarian">Librarian</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <button mat-flat-button (click)="onSubmit()">
    Sign up!
  </button>
</div>

<div>
  {{ error }}
</div>

